h1,
h2,
.weather-info,
.dates,
.week-days,
.temperature-forecast {
  color: #5a6275;
}

h1,
h2,
.weather-info {
  text-align: center;
}

h1,
h2 {
  word-spacing: -25px;
}

h1 {
  margin-bottom: -10px;
  font-size: 150px;
  font-weight: 600;
}

h2 {
  font-size: 40px;
  font-weight: 600;
}

a {
  text-decoration: none;
}

.weather-info,
.dates {
  line-height: 0.5;
  font-size: 15px;
  font-weight: 600;
}

.my-container {
  margin: 60px auto 10px;
  max-width: 100%;
  width: 500px;
  font-family: "Poppins", sans-serif;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid #e7e6ed;
  border-radius: 5px;
}

.current-weather-container {
  padding: 20px 40px;
  background-image: url("../images/app-background.jpg");
  background-size: cover;
  background-position: top;
}

.week-days,
.temperature-forecast {
  font-size: 14px;
  font-weight: 600;
}

.forecast-container {
  padding: 50px 60px;
  line-height: 2;
}

.search-icon,
.geolocation-button {
  font-size: 25px;
  color: #9a9a9a;
  transition: all 150ms ease-in-out;
}

.search-icon:hover,
.geolocation-button:hover {
  opacity: 0.8;
}

.enter-city {
  background: rgba(255, 253, 253, 0.259);
  font-size: 12px;
  font-weight: 500;
}

.github-link {
  text-align: center;
}

.units {
  font-size: 35px;
  font-weight: 700;
  vertical-align: 80px;
}

.main-icon img {
  width: 100px;
}

.weather-icons img {
  width: 40px;
}

.min-temperature {
  opacity: 60%;
}

#weather {
  text-transform: capitalize;
}
